//:host {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  height: 100%;
//}
//.login-form {
//  width: 100%;
//}
//.login-full-width {
//  width: 100%;
//}
//.login-box {
//  border: 1px solid rgba(0,0,0,.2);
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
.mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.service-button {
  margin-bottom: 16px;
}

.facebook-button {
  background-color: #4267B2;
  color: white;
}

.google-button {
  background-color: #4285F4;
  color: white;
}

.github-button {
  background-color: #6e5494;
  color: white;
}

.form-width {
  width: 320px;
}
.form-size {
  width: 320px;
  height: 174px;
}

.hl {
  border: 2px solid #ddd;
  width: 320px;
  margin-top: 32px;
  margin-bottom: 32px;
  height: 2px;
  text-align: center;
}

.hl-innertext {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
