<div class="form-container">
  <mat-card class="mat-elevation-z7">
    <form class="form-common" *ngIf="!authService.isLoggedIn" [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width ion-margin-bottom" appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="errorStatus"> Wrong username or password</mat-error>
      <button mat-raised-button type="submit" color="primary" [disabled]="!loginFormGroup.valid">Login</button>
    </form>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card class="mat-elevation-z7">
    <div class="form-common service-button">
      <a mat-raised-button class="facebook-button" [href]="getServerUri('facebook')">
        <span>Login use Facebook</span>
      </a>
    </div>
    <div class="form-common service-button">
      <a mat-raised-button class="google-button" [href]="getServerUri('google')">
        <span>Login use Google</span>
      </a>
    </div>
    <div class="form-common service-button">
      <a mat-raised-button class="github-button" [href]="getServerUri('github')">
        <span>Login use Github</span>
      </a>
    </div>
  </mat-card>
</div>

