<div class="form-container">
  <mat-card class="mat-elevation-z7">
    <form class="form-common" *ngIf="(authService.isLoggedIn$ | async) === false" [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width ion-margin-bottom" appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="errorStatus"> Wrong username or password</mat-error>
      <button mat-raised-button type="submit" color="primary" [disabled]="!loginFormGroup.valid">Login</button>
    </form>
  </mat-card>
  <div class="hl">
    <span class="hl-innertext">or</span>
  </div>
  <mat-card class="mat-elevation-z7">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="form-size">
      <a class="form-width" color="accent" mat-raised-button [href]="getServerUri('facebook')">
        <mat-icon fxFlex="30" fxFlexAlign="center" svgIcon="facebook"></mat-icon>
        <span>Login use Facebook</span>
      </a>
      <a class="form-width" color="accent" mat-raised-button [href]="getServerUri('google')">
        <mat-icon fxFlex="30" fxFlexAlign="center" svgIcon="google"></mat-icon>
        <span>Login use Google</span>
      </a>
      <a class="form-width" color="accent" mat-raised-button [href]="getServerUri('github')">
        <mat-icon fxFlex="30" fxFlexAlign="center" svgIcon="github"></mat-icon>
        <span>Login use Github</span>
      </a>
    </div>
  </mat-card>
</div>

