<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon" aria-label="toggle side bar icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Shop App</span>
  <span class="spacer"></span>
<!--  <button aria-haspopup="true" mat-icon-button="" aria-label="Select a theme" matTooltip="Select a theme" class="mat-focus-indicator mat-tooltip-trigger mat-menu-trigger mat-icon-button mat-button-base">-->
<!--    <span class="mat-button-wrapper"><mat-icon >format_color_fill</mat-icon></span>-->
<!--  </button>-->
  <app-theme-switch></app-theme-switch>
</mat-toolbar>
