<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon" aria-label="toggle side bar icon" (click)="sidebarToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">Home</a>
  <span class="spacer"></span>
  <ng-container *ngIf="(authService.isLoggedIn$ | async) === false">
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Login</a>
  </ng-container>
<!--  <mat-form-field>-->
<!--    <input type="text" matInput placeholder="Search users">-->
<!--    <button matSuffix mat-button><mat-icon >search</mat-icon></button>-->
<!--  </mat-form-field>-->
  <a mat-button routerLink="/user-list">User List</a>
  <a mat-button [matMenuTriggerFor]="userMenu" *ngIf="(authService.isLoggedIn$ | async) === true">
    <img class="circle" [src]="(authService.user$ | async)?.picture">
    <span>{{(authService.user$ | async)?.name}}</span>
  </a>

  <app-theme-switch></app-theme-switch>
</mat-toolbar>
  <mat-menu #userMenu="matMenu">
    <a mat-menu-item routerLink="user/user-info">User Info</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
