:root {
  --avatar-size: 18rem;
}
:host {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.spacer {
  flex: 1 1 auto;
}
.circle {
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}
