<div>
  <h1>
    Welcome to {{title}}
  </h1>
  <mat-card>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
  </mat-card>
<!--  <mat-card>-->
<!--    <mat-form-field appearance="fill">-->
<!--    <mat-select placeholder="Theme">-->
<!--      <mat-option value="my-theme">My theme</mat-option>-->
<!--      <mat-option value="my-second-theme">My second theme</mat-option>-->
<!--    </mat-select>-->
<!--    </mat-form-field>-->
<!--  </mat-card>-->
</div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button  color="primary">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
<app-theme-switch></app-theme-switch>
