<div class="container" [class.is-mobile]="sidebarService.mobileQuery.matches">
<!--  <mat-toolbar color="primary" class="example-toolbar">-->
<!--    <button *ngIf="sidebarService.mobileQuery.matches" mat-icon-button (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>-->
<!--    <h1 class="example-app-name">Responsive App</h1>-->
<!--  </mat-toolbar>-->

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [mode]="sidebarService.mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="sidebarService.mobileQuery.matches" fixedTopGap="56"
                 [opened]="sidebarService.sidebarOpen"
                 (closedStart)="sidebarService.toggleSidebar(false)" class="mat-sidenav-padding">
      <mat-list>
        <mat-list-item routerLink="home" [routerLinkActive]="['mat-list-active']"> Home </mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngIf="authService.isLoggedIn$ | async">
          <mat-list-item (click)="showSubmenu = !showSubmenu" >
            <span>User menu</span>
            <span class="spacer"></span>
            <button mat-button mat-icon-button >
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
            </button>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
            <mat-list-item routerLink="user/user-info" [routerLinkActive]="['mat-list-active']">Info</mat-list-item>
            <mat-list-item routerLink="user/friends" [routerLinkActive]="['mat-list-active']">Friends</mat-list-item>
            <mat-list-item [routerLinkActive]="['mat-list-active']">Chat</mat-list-item>
          </div>
          <mat-divider></mat-divider>
        </ng-container>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">

        <div fxFlex>
          <router-outlet></router-outlet>
        </div>

<!--        <div fxFlexOffset="auto" style="display: flex; justify-content: center">-->
<!--          -->
<!--        </div>-->
      <div class="footer">
        <app-footer class="mat-elevation-z6">

        </app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
