.float-right {
  float: right;
  margin-left: 16px;
}
.mat-menu-item .mat-icon svg{
  margin-top: 12px;
}
.color-picker {
  border: 1px solid;
  background-color: purple;
  width: 64px;
  height: 32px;
}
