.name-card {
  width: 400px;
  height: 250px;
  margin: 8px 8px 8px 32px;
}

:host {
  display: flex;
  flex-direction: row;
  //align-items: center;
  //justify-content: center;
  //height: 50%;
  flex-wrap: wrap;
}

.name-picture {
  width: 128px;
  height: 128px;
}

table {
  width: 100%;
}

.mat-column-name {
  text-align: center;
  font-weight: bold;
  border-right: 1px solid currentColor;
}

.mat-column-picture {
  font-size: 20px;
  border-right: 1px solid currentColor;
  text-align: center;
}

.mat-column-action {
  text-align: center;
  font-style: italic;
}
