/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@use 'sass:map';
@import '~@angular/material/theming';
@include mat.core();
@import "./themes/cyan-teal";
@import "./themes/purple-teal";
@import "./themes/indigo-pink";
@import "./themes/pink-bluegrey";
@import "./themes/deeppurple-amber";
@import "./themes/purple-green";

@mixin all-theme-and-custom-component($theme) {
  //$_background: map.get($theme, background);
  //$app-background-color: map.get($_background, background);

  @include mat.all-component-themes($theme);

  /*
   * additional custom component themes here
   */
  //body {
  //  background-color: $app-background-color;
  //}
}

.deeppurple-amber {
  @include all-theme-and-custom-component($deeppurple-amber);
}

.indigo-pink {
  @include all-theme-and-custom-component($indigo-pink);
}
.pink-bluegrey {
  @include all-theme-and-custom-component($pink-bluegrey);
}

.purple-green {
  @include all-theme-and-custom-component($purple-green);
}

.cyan-teal {
  @include all-theme-and-custom-component($cyan-teal);
}
.purple-teal {
  @include all-theme-and-custom-component($purple-teal);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.mat-list-item-content {
  padding-left: 24px !important;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}
.form-common {
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  width: 320px;
}

//iframe {
//  width: 0 !important;
//  height: 0 !important;
//}

@import "material-fallback";
